Tema 1/Boletin1 xsd/Ejercicio31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.miempresa.org/pedidos">
    <xs:element name="Pedido">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="targetNamespace" use="required" />
                    <xs:attribute name="elementFormDefault" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>